################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/obj
/.vs
/coding_challenge/DataModels/bin/Debug/net5.0
/coding_challenge/DataModels/obj
/coding_challenge/Tests/bin/Debug/net5.0
/coding_challenge/Tests/obj
/coding_challenge/.vs
